    ul, li
    {
	    padding: 0;
	    z-index: 500;
    }	    
    
    ul li
    {
		display: block;
		width: 150px;
		float: left;
		border: 2px outset grey;
		text-align: center;
		background-color: white;
    }
        
    ul li:hover
    {
/*	    font-size: 22px;*/
    }
    
    li ul
    {
	    display: none;
    }
    
    ul li:hover ul
    {
	    display: block;
	    position: absolute;
	    margin-top: 0.1%;
	    margin-left: -2px;
	    background-color: white;
	}
    
    li ul li
    {
	    float: none;
    }

    ul span
    {
    	text-decoration: none;
        font-family: Verdana;
        font-style: italic;

        color: #123456;
        font-weight: bolder;
    }
	
	.mainMenu>ul
	{
		text-align: center;
                margin: 0 auto;
                
	}
	
	ul li ul li ul li
	{
		display: none;
	}
	
	ul li ul .superInnerMenuBase:hover li
	{
		display: block;
/*		width: 150px;*/
		background-color: white;
		z-index: 500;
	}
	
	ul li ul li ul
	{
		width: 0px;
	}
		
	ul li ul li .superInnerMenuPath
	{
/*		margin-left: 6.87em;*/
/*		margin-top: -38.4%;*/
		margin-left: 151.5px;
/*		margin-top: -58px;*/
		margin-top: -37%;
	}
        
        li span, #menuDiv span
        {
                cursor: pointer;
        }
        
